build*/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Testing/
cmake_install.cmake
install_manifest.txt
Makefile
*.o
*.a
*.so
*.so.*
*.dylib
*.dll
*.lib
*.pdb
*.pyc
__pycache__/
.DS_Store
TestCustomBondPlugin*Force
